<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
        <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top py-0">
                    <div class="container-fluid px-3">
                        <a class="navbar-brand" href="../index.html"><img src="../images/DiannaSpear.png" alt="logo" width="100"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ms-auto gap-3">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./portfolio.html">Portafolio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./presupuesto.html">Presupuesto</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="./contacto.html">Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
        </header>
    <section>
        <h2 class="tex-contact">Contactanos!!</h2>
        <div class="contacto">
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12144.524504641002!2d-3.784466039433325!3d40.45023466179464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4187a05c2967b5%3A0x6de43bab6a3932e9!2sC.%20del%20Azafr%C3%A1n%2C%2024%2C%20Oficina%203B%2C%20Moncloa%20-%20Aravaca%2C%2028023%20Madrid!5e0!3m2!1sen!2ses!4v1744794516007!5m2!1sen!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="datos">
            <img src="../images/icons/locate_gps_navigation_pin_point_location_icon-icons.com_59906.svg" alt="icono">
            <p>C. del Azafrán, 24, Oficina 3B, Moncloa - Aravaca, 28023 Madrid</p>
            <p>info@diannasanchez.com</p>
               <p>629 019 412</p>
            </div>
        </div>
    </section>
    <footer>
        <div class="contenedor">
            <div class="iconos">
            <h3>Siguenos!!</h3>
            <a href="https://www.facebook.com/?locale=es_ES"><img src="../images/icons/facebook.svg" alt="facebook"></a>
            <a href="https://www.instagram.com/"><img src="../images/icons/instagram.svg" alt=""></a>
            </div>
            <div class="direccion">
            <h3>Direccion:</h3>
            <p>C. del Azafrán, 24, Oficina 3B, Moncloa - Aravaca, 28023 Madrid</p>
            </div>
        </div>
        <div class="avisoLegal">
            <a href="../assets/Aviso-legal.pdf">Aviso Legal</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>