<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <img src="../images/DiannaSpear.png" alt="logotipo" class="logotipo" width="500" height="500">
        <nav class="nab-bar">
           <a href="../index.html">Inicio</a> 
           <a href="./portfolio.html">Portafolio</a>
           <a href="./presupuesto.html">Presupuesto</a>
           <a href="./contacto.html" class="active">Contacto</a>
        </nav>
    </header>
    <section>
        <h2 class="tex-contact">Contactanos!!</h2>
        <div class="contacto">
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12144.524504641002!2d-3.784466039433325!3d40.45023466179464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4187a05c2967b5%3A0x6de43bab6a3932e9!2sC.%20del%20Azafr%C3%A1n%2C%2024%2C%20Oficina%203B%2C%20Moncloa%20-%20Aravaca%2C%2028023%20Madrid!5e0!3m2!1sen!2ses!4v1744794516007!5m2!1sen!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="datos">
            <img src="../images/icons/locate_gps_navigation_pin_point_location_icon-icons.com_59906.svg" alt="icono">
            <p>C. del Azafrán, 24, Oficina 3B, Moncloa - Aravaca, 28023 Madrid</p>
            <p>info@diannasanchez.com</p>
               <p>629 019 412</p>
            </div>
        </div>
    </section>
    <footer>
        <div class="contenedor">
            <div class="iconos">
            <h3>Siguenos!!</h3>
            <a href="https://www.facebook.com/?locale=es_ES"><img src="../images/icons/facebook.svg" alt="facebook"></a>
            <a href="https://www.instagram.com/"><img src="../images/icons/instagram.svg" alt=""></a>
            </div>
            <div class="direccion">
            <h3>Direccion:</h3>
            <p>C. del Azafrán, 24, Oficina 3B, Moncloa - Aravaca, 28023 Madrid</p>
            </div>
        </div>
        <div class="avisoLegal">
            <a href="../assets/Aviso-legal.pdf">Aviso Legal</a>
        </div>
    </footer>
</body>
</html>