<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <img src="../images/DiannaSpear.png" alt="logotipo" class="logotipo" width="500" height="500">
        <nav class="nab-bar">
           <a href="../index.html">Inicio</a> 
           <a href="./portfolio.html" class="active">Portafolio</a>
           <a href="./presupuesto.html">Presupuesto</a>
           <a href="./contacto.html">Contacto</a>
        </nav>
    </header>
    <main>
        <section class="portafolio">
            <h2>Galería de Transformaciones</h2>
            <div class="img-galeri">
                <img src="../images/woman-8703956_1280.jpg" alt="mujer maquillada" width="1280" height="1128">
                <img src="../images/woman-751236_1280.jpg" alt="mujer maquillada" width="1280" height="850">
                <img src="../images/woman-6186493_1280.jpg" alt="mujer maquillada" width="1280" height="853">
                <img src="../images/woman-487067_1280.jpg" alt="mujer maquillada" width="1136" height="1280">
                <img src="../images/woman-3096664_1280.jpg" alt="mujer maquillada" width="1280" height="853">
                <img src="../images/woman-3083516_1280.jpg" alt="mujer maquillada" width="848" height="1280">
                <img src="../images/woman-1846703_1280.jpg" alt="mujer maquillada" width="848" height="1280">
                <img src="../images/woman-1721065_1280.jpg" alt="mujer maquillada" width="848" height="1280">
                <img src="../images/woman-1146038_1280.jpg" alt="mujer maquillada" width="848" height="1280">
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor">
            <div class="iconos">
            <h3>Siguenos!!</h3>
            <a href="https://www.facebook.com/?locale=es_ES"><img src="../images/icons/facebook.svg" alt="facebook"></a>
            <a href="https://www.instagram.com/"><img src="../images/icons/instagram.svg" alt=""></a>
            </div>
            <div class="direccion">
            <h3>Direccion:</h3>
            <p>C. del Azafrán, 24, Oficina 3B, Moncloa - Aravaca, 28023 Madrid</p>
            </div>
        </div>
        <div class="avisoLegal">
            <a href="../assets/Aviso-legal.pdf">Aviso Legal</a>
        </div>
    </footer>
</body>
</html>